<section class="property-binding">
  <!--<article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 != {{ 1 + 1 + getValor() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img [src]="getImg()" [height]="imgSize" [width]="imgSize">

  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      <label for="classe">Selecione uma classe:</label>

      <select id="classe" #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>

      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div>

      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        Alerta
      </div>

      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        Erro
      </div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto somente aparece em caso de erro.
      </div>


    </div>
  </article>
    <h3>
      Event Binding
    </h3>
    <div>
      <button class="btn btn-p"
      (click)="clicou()">
        Clique aqui
      </button>
      <hr/>
      <input type="text"
      (keydown)="checarDigitacao(campoTexto.value)"
      (keyup.enter)="salvarCampo(campoTexto.value)"
      (blur)="salvarCampo(campoTexto.value)" #campoTexto>

      <br>

      <p>Valor digitado: {{ valorCampo }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <hr/>

      <span (mouseout)="mouseEmCima = false"
      (mouseover)="mouseEmCima = true"
      [class.highlight]="mouseEmCima"> Passe o mouse aqui</span>

    </div>
  <article>

  <article>
    <h3>Two-way data-binding</h3>

    <input type="text" [(ngModel)]="nome">

    {{ nome }}
  </article>-->

  <article>
    <h3>Input/Output Properties</h3>

  </article>

  <app-curso [nomeCurso] = "'Angular'" ></app-curso>

  <contador valor="10"
    (mudouValor)="onChangeValue($event)"></contador>

</section>
